
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Travel Blog</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">Travel Blog</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/">HOME</a></li>
          <li id="about"><a href="/about">ABOUT US</a></li>
          <li id="contact"><a href="/contact">CONTACT US</a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">
      <!-- <img src="/images/IMG_2087.jpg" width="100%" style="height: 60vh;"> -->
    <h1>Welcome to The Captivating Tales from Our Travel Adventures</h1>
    <p style="padding-bottom: 3%; padding-top: 1%; font-size: 1.75rem;">"Embark on a Journey of Discovery:
      Explore, Experience, and Embrace the World!
      <br>
      Welcome to our Tales of Adventures, your gateway to extraordinary adventures, hidden gems, and awe-inspiring destinations. Get ready to immerse yourself in captivating travel stories, stunning photography, and expert travel tips.
      <br>
      Get ready to embark on an extraordinary journey of discovery, inspiration, and wanderlust. Start exploring now and let the world be your greatest source of inspiration.
      <br>
      Happy Travels!"
      
      </p>

<%- include("partials/footer"); -%>
